* {
  box-sizing: border-box;
}

header {
  background-color: darkgrey;
  margin: 0% 0% 2% 0%;
}

#navBarItems img {
  margin: 2% 0 2% 0;
}

body {
  text-align: center;
}

#hero {
  margin: 0 auto;
}

#threebox {
  margin: 30px 10% 30px 10%;
}

#threeBox img {
  display: inline-block;
  margin: 30px .75% 30px .75%;
}

#feature {
  margin: 0 21% 30px 21%;
  display: inline-block;
}

#featureSectionBanner {
  margin: 0 30px 0 0px;
  float: left;
}

#feature h3 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 1%;
}

#feature p {
  height: 300px;
  text-align: left;
  font-size: 16px;
  margin: 0 0 0 0;
  overflow: scroll;
}

#feature #buttonCallToAction {
  margin-top: 2%;
  float: left;
  border-radius: 5px;
}

#feature #buttonCallToAction:hover {
  outline: 1px solid;
}

footer {
  height: 100px;
  background-color: darkgrey;
  width: 100%;
}